<div xmlns:th="http://www.thymeleaf.org" th:fragment="post(post)" class="isu-post" th:id="'pid_' + ${post.id}" th:data-created-at="${post.createdAtIso}">
  <div class="isu-post-header">
    <a th:href="@{'/@' + ${post.user.accountName} + ' '}" class="isu-post-account-name" th:text="${post.user.accountName}"></a>
    <a th:href="@{'/posts/' + ${post.id}}" class="isu-post-permalink">
      <time class="timeago" th:datetime="${post.createdAtIso}"></time>
    </a>
  </div>
  <div class="isu-post-image">
    <img th:src="${post.imageUrl}" class="isu-image">
  </div>
  <div class="isu-post-text">
    <a th:href="@{'/@' + ${post.user.accountName}}" class="isu-post-account-name" th:text="${post.user.accountName}"></a>
    <th:block th:text="${post.body}"></th:block>
  </div>
  <div class="isu-post-comment">
    <div class="isu-post-comment-count">
      comments: <b th:text="${post.commentCount}"></b>
    </div>

    <div th:each="comment : ${post.comments}" class="isu-comment">
      <a th:href="@{'/@' + ${comment.user.accountName}}" class="isu-comment-account-name" th:text="${comment.user.accountName}"></a>
      <span class="isu-comment-text" th:text="${comment.comment}"></span>
    </div>
    <div class="isu-comment-form">
      <form method="post" action="/comment">
        <input type="text" name="comment">
        <input type="hidden" name="post_id" th:value="${post.id}">
        <input type="hidden" name="csrf_token" th:value="${post.csrfToken}">
        <input type="submit" name="submit" value="submit">
      </form>
    </div>
  </div>
</div>
